# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.test

# Logs
logs/
*.log

# Coverage
coverage/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store

# Docker
.dockerignore